
@{
    ViewBag.Title = "Index";
}

<div class="content animate-panel">
    <div class="row">
        <div class="col-md-3">
            <div class="hpanel hbggreen">
                <div class="panel-body">
                    <div class="text-center">
                        <h3>Equipo ChileCompra</h3>
                        <p class="text-big font-light">
                            40%
                        </p>
                        <small>
                            Listado de funcionarios que conforman ChileCompra.
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="hpanel hbgblue">
                <div class="panel-body">
                    <div class="text-center">
                        <h3>Proyectos Tecnológicos</h3>
                        <p class="text-big font-light">
                            20%
                        </p>
                        <small>
                            Listado de proyctos de la División Tecnología y Negocios.
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="hpanel hbgyellow">
                <div class="panel-body">
                    <div class="text-center">
                        <h3>Diccionarios de Dato</h3>
                        <p class="text-big font-light">
                            30%
                        </p>
                        <small>
                            Herramienta para generar diccionarios de datos.
                        </small>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="col-md-3">
            <div class="hpanel hbgred">
                <div class="panel-body">
                    <div class="text-center">
                        <h3>Title text</h3>
                        <p class="text-big font-light">
                            0,43
                        </p>
                        <small>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </small>
                    </div>
                </div>
            </div>
        </div>*@
    </div>
</div>
