<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo es utilizado por el proceso de paquete/publicación de nuestro proyecto Web. Puede personalizar el comportamiento de este proceso
editando este archivo MSBuild. Para conocer más acerca de esto, visite http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://dccp-dev-herramientas.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>dccp-dev-herramientas.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>dccp-dev-herramientas</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$dccp-dev-herramientas</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DCCPProcurementEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=10.251.0.57\MP_DES,1434;Initial Catalog=DCCPProcurement;Persist Security Info=True;User ID=chilecompradesarrollo;Password=chilecompra;Application Name=EntityFramework" Name="Data Source=10.251.0.57\MP_DES,1434;Initial Catalog=DCCPProcurement;Persist Security Info=True;User ID=chilecompradesarrollo;Password=chilecompra;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=10.251.0.57\MP_DES,1434;Initial Catalog=DCCPProcurement;Persist Security Info=True;User ID=chilecompradesarrollo;Password=chilecompra;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DCCPProcurementEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.ModelAPI.csdl|res://*/Models.ModelAPI.ssdl|res://*/Models.ModelAPI.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.251.0.57\MP_DES,1434;initial catalog=DCCPProcurement;persist security info=True;user id=chilecompradesarrollo;password=chilecompra;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=10.251.0.57\MP_DES,1434;Initial Catalog=DCCPProcurement;Persist Security Info=True;User ID=chilecompradesarrollo;Password=chilecompra;Application Name=EntityFramework" Name="Data Source=10.251.0.57\MP_DES,1434;Initial Catalog=DCCPProcurement;Persist Security Info=True;User ID=chilecompradesarrollo;Password=chilecompra;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\SQLEXPRESS;Initial Catalog=aspnet-Herramientas-20150312120531;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.\SQLEXPRESS;Initial Catalog=aspnet-Herramientas-20150312120531;Integrated Security=SSPI" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DCCPProcurementEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ModelAPI.csdl|res://*/Models.ModelAPI.ssdl|res://*/Models.ModelAPI.msl;provider=System.Data.SqlClient;provider connection string="data source=10.251.0.57\MP_DES,1434;initial catalog=DCCPProcurement;persist security info=True;user id=chilecompradesarrollo;password=chilecompra;multipleactiveresultsets=True;application name=EntityFramework;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=10.251.0.57\MP_DES,1434;Initial Catalog=DCCPProcurement;Persist Security Info=True;User ID=chilecompradesarrollo;Password=chilecompra;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>